body {
    background-color: #99ccff;
}
h1 {
    color: Black;
}


.mainBox{
	width: 500px;
	z-index: 1;
	margin: 0 auto;
	padding: 10px;
}

.smallBox1{
	width: 45px;
    height: 45px;
    outline: 1px solid;
    float: left;
	background-color: #66ff99;
	display: flex;
  position: relative;
}

.smallBox2{
	width: 45px;
    height: 45px;
    outline: 1px solid;
    float: left;
	background-color: #ccccff;
	display: flex;
  position: relative;
}

.smallBox1 > img {
  position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.smallBox2 > img{
  position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.turnDivClass{

}
